* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Righteous', cursive;
    padding-top: 50px;
    font-size: 20px;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
#title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
.card_generator {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background-image: url(../img/patternback.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    background-color: #77CBB9;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: relative;
}
#card_logo {
    width: 140px;
    float: left;
    padding: 10px;
}
#card_logo img {
    width: 100%;
}
.text_top, .text_bottom {
    font-family: 'Satisfy', cursive;
    position: absolute;
}
.text_logo {
    width: 50%;
    position: relative;
    float: left;
}
.text_top {
    top: 30px;
    left: 0;
}
.text_bottom {
    top: 60px;
    left: 30px;
}
.text_logo span {
    font-size: 40px;
}
.top_image, .bottom_image {
    width: 30%;
    position: absolute;
}
.top_image {
    top: 0;
    right: 0;
}
.top_image img{
    width: 100%;
}
.bottom_image {
    bottom: 0;
    left: 0;
}
.bottom_image img {
    width: 100%;
}
.card_bottom {
    position: absolute;
    bottom: 30px;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lock {
    width: 80px;
    cursor: pointer;
}
.lock i {
    font-size: 3em;
}
.lock i.fa-lock-open {
    display: none;
}
.lock:hover i.fa-lock-open {
    display: block;
}
.lock:hover i.fa-lock {
    display: none;
}
.password_box {
    width: 350px;
    height: 80px;
    background-color: #f37368;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
#password {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    filter: blur(5px);
}
.lock:hover + .password_box #password {
    transition: 2s;
    filter: none;
}